@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap');
:root {
    --black: #192a56;
    --orange: #F95F1D;
    --yellow: #ffa801;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 0 7%;
    padding-top: 7.5rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 2.5rem;
    font-size: 1.7rem;
    color: var(--yellow);
    border: .2rem solid var(--yellow);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--yellow);
    color: #fff;
}

.heading {
    text-align: center;
    color: var(--black);
    padding: 1rem;
    text-transform: uppercase;
    font-size: 4.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    z-index: 1000;
}

header .FIXPRO {
    font-size: 2.5rem;
    color: #666;
    font-weight: bolder;
}

header .navbar a {
    font-size: 2rem;
    margin-left: 2.5rem;
    color: var(--black);
}

header .navbar a:hover {
    color: var(--orange);
}

#menu-bar {
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

.about us {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(128, 128, 128);
    /*background: url(../images/home-bg.jpg) no-repeat;*/
    background-size: cover;
    background-position: center;
    /* flex-wrap: wrap;*/
}

.about us .image {
    /*padding-top: 1rem;*/
    flex-grow: 5;
    align-items: center;
    flex-shrink: 2;
    /*padding-bottom: 1rem;*/
}

.about us .content {
    padding: 1rem;
    flex: 1 1 40rem;
}

.about us .content h3 {
    color: #fff;
    font-size: 5.5rem;
    text-transform: uppercase;
}

.about us .content p {
    color: #fff;
    font-size: 1.7rem;
}

.about us .image img {
    width: 70%;
}

.about us .content .btn {
    color: rgb(68, 68, 68);
    background: #fff;
}

.about us .content .btn:hover {
    color: #fff;
    background: none;
    border-color: #fff;
}

.service {
    background: var(--black);
}

.service .heading {
    color: #fff;
}

.service .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.service .box-container .box {
    padding: 4rem;
    margin: 1rem;
    flex: 1 1 30rem;
    border: .1rem solid #fff3;
    text-align: center;
}

.service .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
}

.service .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 1rem;
}

.service .box-container .box:hover {
    background: #fff;
}

.service .box-container .box:hover h3 {
    color: var(--black);
}

.service .box-container .box:hover p {
    color: #666;
}


/* media queries  */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    section {
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 3rem;
    }
}

@media (max-width:768px) {
    #menu-bar {
        display: block;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #eee;
        height: calc(100vh - 100%);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        display: none;
    }
    header .navbar.nav-toggle {
        display: block;
    }
    header .navbar a {
        margin: 1rem;
        display: block;
        padding: 1.3rem 0;
        background: #fff;
        text-align: center;
        border: .1rem solid #444;
        animation: nav-links .5s linear backwards;
        animation-delay: calc(.2s * var(--i));
    }
    @keyframes nav-links {
        0% {
            transform: translateY(-50rem);
            opacity: 0;
        }
    }
    .fa-times {
        transform: rotate(180deg);
    }
    .home .content {
        text-align: center;
    }
    .home .content h3 {
        font-size: 4rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 3.5rem;
    }
    .team .box-container .box {
        width: 100%;
    }
}